<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SocialNetworkMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SocialNetworkMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="row">
                <div class="col-md-3">
                    @Html.Partial("_LeftPanel")
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        }
        else
        {
            @RenderBody()
        }
    </div>

    <script src="~/js/site.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.8/signalr.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

            connection.on("ReceiveMessage", function (user, messageContent, timestamp, isSentByCurrentUser) {
                if (!isSentByCurrentUser) {
                    var messageLink = document.getElementById("messagesLink");
                    if (messageLink) {
                        messageLink.classList.add("unread-messages");
                    }
                }
            });

            connection.start().then(function () {
                console.log("Connected to chatHub");
            }).catch(function (err) {
                console.error("Error connecting to chatHub: ", err.toString());
            });
        });
    </script>
</body>
</html>
